In [7]:
import pandas as pd
df= pd.read_csv(r"C:\Users\yuv11\OneDrive\Desktop\cvcallfile\Book3.csv",parse_dates=["day"])
df.set_index('day',inplace=True)
df

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
02-01-2027         NaN  21.000000  summer
03-01-2027        21.0  23.000000     NaN
05-01-2027        43.0  16.333333    rain
05-01-2027         NaN  11.833333    cokd
06-01-2027         6.0   7.333333     NaN
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
22-01-2027         NaN  -6.166667     NaN
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [8]:
new_df=df.fillna(0)
new_df

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
02-01-2027         0.0  21.000000  summer
03-01-2027        21.0  23.000000       0
05-01-2027        43.0  16.333333    rain
05-01-2027         0.0  11.833333    cokd
06-01-2027         6.0   7.333333       0
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
22-01-2027         0.0  -6.166667       0
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [9]:
new_df=df.fillna({'temprature': 0,'wildspeed':0,'event':'no event'})
new_df

            temprature  windspeed     event
day
01-01-2027        32.0  32.000000      rain
02-01-2027         0.0  21.000000    summer
03-01-2027        21.0  23.000000  no event
05-01-2027        43.0  16.333333      rain
05-01-2027         0.0  11.833333      cokd
06-01-2027         6.0   7.333333  no event
07-01-2027        11.0   2.833333      rain
08-01-2027        12.0  -1.666667    summer
22-01-2027         0.0  -6.166667  no event
10-01-2027        43.0 -10.666667      rain
11-01-2027        32.0 -15.166667      cokd

In [10]:
 new_df= df.fillna(method='ffill')
new_df

C:\Users\yuv11\AppData\Local\Temp\ipykernel_14152\1393232411.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df= df.fillna(method='ffill')

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
02-01-2027        32.0  21.000000  summer
03-01-2027        21.0  23.000000  summer
05-01-2027        43.0  16.333333    rain
05-01-2027        43.0  11.833333    cokd
06-01-2027         6.0   7.333333    cokd
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
22-01-2027        12.0  -6.166667  summer
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [11]:
new_df = df.ffill()
new_df

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
02-01-2027        32.0  21.000000  summer
03-01-2027        21.0  23.000000  summer
05-01-2027        43.0  16.333333    rain
05-01-2027        43.0  11.833333    cokd
06-01-2027         6.0   7.333333    cokd
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
22-01-2027        12.0  -6.166667  summer
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [16]:
new_df=df.interpolate()
new_df

C:\Users\yuv11\AppData\Local\Temp\ipykernel_14152\1725489846.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df=df.interpolate()

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
02-01-2027        26.5  21.000000  summer
03-01-2027        21.0  23.000000     NaN
05-01-2027        43.0  16.333333    rain
05-01-2027        24.5  11.833333    cokd
06-01-2027         6.0   7.333333     NaN
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
22-01-2027        27.5  -6.166667     NaN
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [17]:
new_df=df.dropna()
new_df

            temprature  windspeed   event
day
01-01-2027        32.0  32.000000    rain
05-01-2027        43.0  16.333333    rain
07-01-2027        11.0   2.833333    rain
08-01-2027        12.0  -1.666667  summer
10-01-2027        43.0 -10.666667    rain
11-01-2027        32.0 -15.166667    cokd

In [25]:
dt=pd.date_range("01-01-2027","11-01-2027")
idx=pd.DatetimeIndex(dt)
df_reinedexed=df.reindex(idx)
df_reinedexed

ValueError: cannot reindex on an axis with duplicate labels